@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 27% 94%;
    --foreground: 194 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 194 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 194 60% 10%;
    --primary: 194 35% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 193 20% 90%;
    --secondary-foreground: 194 35% 20%;
    --muted: 193 15% 85%;
    --muted-foreground: 194 35% 40%;
    --accent: 160 56% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 20% 85%;
    --input: 194 20% 85%;
    --ring: 194 35% 49%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 194 60% 5%;
    --foreground: 193 27% 94%;
    --card: 194 60% 8%;
    --card-foreground: 193 27% 94%;
    --popover: 194 60% 8%;
    --popover-foreground: 193 27% 94%;
    --primary: 194 35% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 30% 15%;
    --secondary-foreground: 193 27% 94%;
    --muted: 194 30% 20%;
    --muted-foreground: 193 10% 70%;
    --accent: 160 56% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 30% 20%;
    --input: 194 30% 20%;
    --ring: 194 35% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}